@charset "UTF-8";

*,
body {
    padding: 0;
    margin: 0;
    direction: rtl;
    box-sizing: border-box;
    font-family: irans
}

@font-face {
    font-family: irans;
    src: url(../fonts/IRANSansWeb.woff)
}

@font-face {
    font-family: irans;
    src: url("../fonts/IRANSansWeb(FaNum).woff")
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

li,
ul {
    list-style: none;
    margin-bottom: 0
}

ol {
    margin: 0 !important
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: irans
}

.body-wrapper {
    direction: rtl;
    text-align: right;
    width: 100%;
    overflow-x: hidden
}

.clickable {
    transition: all .5s;
    cursor: pointer
}

.clickable:hover {
    opacity: .7
}

.title-section {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    color: #373f47;
    margin-bottom: 30px
}

.box-bottom-header {
    background-image: linear-gradient(to bottom right, #6b59d4, #453987)
}

.box-bottom-header .title {
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    font-size: 26px
}

.box-bottom-header .info-title {
    color: #fff;
    font-weight: 100;
    font-size: 14px;
    margin-top: 16px
}

.breadcrumb {
    background-color: transparent;
    padding: 16px 0
}

.breadcrumb li a {
    color: #fff;
    font-size: 14px
}

.breadcrumb .active {
    color: #fff;
    font-weight: 700;
    font-size: 14px
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding: 0 8px;
    color: #ccc;
    content: "/"
}

.fa-star {
    color: #bdc3c7;
    font-size: 12px
}

.star-yellow {
    color: #ffc400 !important
}

.aside-page {
    overflow-x: visible !important
}

.box-cmp {
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    background: #fff;
    padding: 12px;
    border-radius: 5px
}

.featured-box {
    border: 1px solid #ff6067 !important;
    position: relative;
    z-index: 22;
    overflow: hidden
}

.featured-box::after {
    position: absolute;
    content: attr(data-label);
    padding: .5rem;
    background-color: #ff6067;
    color: #fff;
    text-align: center;
    font-size: 10px;
    transform: rotate(-45deg);
    top: 10px;
    left: -75px;
    width: 200px
}

.btn-default-outline {
    border-color: #6b59d4;
    color: #6b59d4;
    background-color: transparent;
    font-weight: 600;
    padding: 8px
}

.btn-default-outline:hover {
    background-color: #6b59d4;
    color: #fff
}

body {
    padding-top: 80px
}

header {
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0
}

header .top-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px
}

header .top-header .right-header {
    display: flex;
    align-items: center
}

header .top-header .right-header .logo-holder {
    width: 150px;
    margin-left: 8px
}

header .top-header .right-header .logo-holder img {
    width: 100%
}

header .top-header .right-header .main-menu ul li {
    display: inline-block
}

header .top-header .right-header .main-menu ul li a {
    padding: 0 8px;
    color: #373f47;
    transition: .3s all
}

header .top-header .right-header .main-menu ul li a.active {
    color: #6b59d4
}

header .top-header .right-header .main-menu ul li a:hover {
    color: #6b59d4
}

header .top-header .right-header .main-menu.active-menu {
    right: 0 !important
}

header .top-header .actions {
    display: inline-flex;
    position: relative
}

header .top-header .actions>a {
    color: #50429d;
    padding: 6px 12px;
    font-size: 14px;
    display: inline-flex;
    border: 1px solid #50429d;
    border-radius: 5px;
    transition: all .5s;
    align-items: center
}

header .top-header .actions>a:hover {
    color: #fff;
    background-color: #50429d
}

header .top-header .actions .profile-btn {
    display: flex;
    align-items: center;
    justify-content: space-between
}

header .top-header .actions .profile-btn span {
    font-size: 12px
}

header .top-header .actions .profile-btn i {
    margin-right: 8px
}

header .top-header .actions .profile-btn img {
    border-radius: 50%;
    width: 25px;
    margin-left: 8px
}

header .top-header .actions .dropdown {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 59px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .6);
    padding: 6px 0;
    display: none
}

header .top-header .actions .dropdown ul li {
    margin-bottom: 6px
}

header .top-header .actions .dropdown ul li a {
    color: #373f47;
    font-size: 14px;
    display: inline-block;
    padding: 0 12px
}

header .top-header .actions .dropdown ul li:last-child {
    padding-top: 6px;
    border-top: 1px solid #cecece
}

header .burger-btn {
    height: 20px;
    border: none;
    background-color: transparent;
    display: none;
    outline: 0
}

@media (max-width:768px) {
    .top-header .burger-btn {
        display: block
    }

    .top-header .logo-holder {
        margin-right: 16px
    }

    .top-header .main-menu {
        position: fixed !important;
        top: 0;
        right: -100% !important;
        bottom: 0;
        width: 300px;
        background-color: #fff;
        max-width: 75%;
        z-index: 100;
        overflow-y: auto;
        overflow-x: hidden;
        transition: .3s all
    }

    .top-header .main-menu ul {
        margin-top: 16px
    }

    .top-header .main-menu ul li {
        display: block !important
    }

    .top-header .main-menu ul li a {
        line-height: 3;
        padding: 0 32px !important;
        display: block
    }
}

.darklayer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: .3s all
}

.darklayer.active {
    opacity: 1;
    visibility: visible
}

.compare {
    background-color: #f1f2f3
}

.compare__right__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px
}

.compare__right__item__right {
    margin-left: 20px
}

.compare__right__item__right i {
    color: #fff;
    font-size: 22px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #50429d;
    display: flex;
    align-items: center;
    justify-content: center
}

.compare__right__item__left h3 {
    color: #373f47;
    font-weight: 600;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 30px
}

.compare__right__item__left p {
    color: #373f47;
    font-weight: 100;
    font-size: 14px;
    line-height: 23px;
    text-align: justify
}

.compare__left {
    text-align: center
}

.compare__left img {
    width: 400px
}

.lists-exchanges {
    background-color: #fff
}

.lists-exchanges__inner {
    margin: 16px 0
}

.lists-exchanges__inner li {
    margin-bottom: 10px
}

.lists-exchanges__inner li a {
    display: inline-block;
    color: #373f47;
    font-size: 14px;
    font-weight: 400
}

.lists-exchanges__inner li a img {
    width: 28px;
    height: 28px;
    border-radius: 16px;
    margin-left: 10px
}

.lists-exchanges__more {
    display: inline-block;
    margin: 30px auto 0 auto;
    text-align: center;
    color: #50429d;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px
}

.lists-exchanges__more:hover {
    color: #50429d
}

.lists-exchanges__more i {
    font-size: 22px;
    color: #50429d;
    margin-right: 12px
}

.whats-crypto {
    background-color: #f1f2f3
}

.whats-crypto__info p {
    color: #373f47;
    text-align: justify;
    font-size: 16px;
    line-height: 26px
}

.searchly {
    background-image: linear-gradient(to bottom right, #6b59d4, #453987)
}

.searchly .title-section {
    color: #fff
}

.searchly .recommendations .recommendations-title {
    width: 100%
}

.searchly .recommendations .recommendations-title h2 {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px
}

.searchly .live-prices {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.searchly .live-prices .item {
    width: 16%;
    display: flex;
    align-items: center
}

.searchly .live-prices .item .icon {
    margin-left: 16px
}

.searchly .live-prices .item .icon i {
    font-size: 40px;
    color: #fff
}

.searchly .live-prices .item .detail {
    text-align: center;
    padding: 12px 0
}

.searchly .live-prices .item .detail strong {
    color: #fff;
    font-size: 22px
}

.searchly .live-prices .item .detail p {
    color: #fff;
    font-size: .8em;
    line-height: 1.33em;
    margin-bottom: 0
}

.bitcoin {
    color: #f7931a
}

.m-30 {
    margin: 3rem 0
}

@media (max-width:768px) {
    .search-item {
        margin-bottom: 30px
    }

    .live-prices {
        flex-wrap: wrap
    }

    .live-prices .item {
        display: none !important;
        width: 100% !important;
        justify-content: center
    }

    .live-prices .item:first-child {
        display: flex !important
    }
}

.padding-0 {
    padding: 0 !important
}

.exchanges {
    background-color: #fff
}

.exchanges .exchange-holder {
    height: 150px
}

.exchanges .exchange-holder .inner-slider img {
    width: 100%
}

.register {
    background-color: #f1f2f3
}

.register__form {
    border-radius: 5px;
    padding: 30px 16px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .16);
    background-color: #fff
}

.register__form form {
    text-align: center
}

.register__form form .holder-header-otp {
    display: flex;
    align-items: center
}

.register__form form .holder-header-otp h2 {
    font-size: 15px;
    color: #50429d;
    font-weight: 600;
    line-height: 24px
}

.register__form form .holder-header-otp img {
    width: 100px;
    margin-left: 16px
}

.register__form form .form-group {
    width: 60%;
    margin: 24px auto 12px auto
}

.register__form form .form-group input {
    margin-bottom: 8px;
    text-align: center;
    direction: ltr
}

.register__form form .form-group label {
    font-size: 13px;
    padding: 3px;
    color: #373f47;
    text-align: right
}

.register__form form button {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    outline: 0 !important;
    border: none;
    background-color: #50429d;
    color: #fff;
    font-size: 13px;
    padding: 13px 32px;
    border-radius: 5px
}

.register__form form .form-enter-code__link {
    padding: 12px 0;
    margin: 0 auto
}

.register__form form .form-enter-code__link a {
    color: #373f47;
    font-size: 12px;
    margin: 0 8px
}

@media (max-width:768px) {
    .register__form form .holder-header-otp {
        flex-wrap: wrap
    }

    .register__form form .holder-header-otp img {
        width: 50px
    }

    .register__form form .form-group {
        width: 100%
    }
}

.open__form-otp {
    opacity: 1;
    visibility: visible;
    height: auto
}

.close__form-otp {
    opacity: 0;
    visibility: hidden;
    height: 0
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}

body {
    background-color: #f1f2f3
}

body .about-us-section .about-us-header .time-release {
    color: #373f47;
    font-size: 1rem;
    margin-bottom: 16px
}

body .about-us-section .about-us-header .about-us-title {
    margin-bottom: 30px
}

body .about-us-section .about-us-header .about-us-title h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #373f47
}

body .about-us-section .post-inner {
    position: relative;
    margin: 0 auto;
    padding: 70px 100px;
    min-height: 230px;
    line-height: 1.6em;
    background: #fff
}

body .about-us-section .post-inner .post-content h2 {
    margin-bottom: 16px;
    color: #373f47;
    font-weight: 700
}

body .about-us-section .post-inner .post-content p {
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: #616161;
    margin-bottom: 30px
}

body .about-us-section .post-inner .post-content h3 {
    margin-bottom: 16px;
    color: #373f47;
    font-weight: 700
}

body .about-us-section .post-inner .post-content ul li {
    list-style: disc;
    color: #616161;
    margin-bottom: 16px
}

body .about-us-section .post-inner .post-content ul li strong {
    font-weight: bolder;
    color: #373f47
}

body .about-us-section .post-inner .post-content .image-holder {
    margin-bottom: 30px
}

body .about-us-section .post-inner .post-content .image-holder img {
    width: 100%
}

@media (max-width:768px) {
    .about-us-section .about-us-title h1 {
        font-size: 1.5rem !important
    }

    .post-inner {
        padding: 24px !important
    }
}

.faq-item {
    width: 100%;
    position: relative;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .07);
    border: none;
    background-color: #fff
}

.faq-item .faq-item-header {
    cursor: pointer
}

.faq-item .faq-item-header-right {
    display: flex;
    align-items: center
}

.faq-item .faq-item-header .btn-faq {
    white-space: normal;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: 0 !important;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.faq-item .faq-item-header .btn-faq .icon-faq {
    margin-left: 16px;
    font-size: 21px;
    color: #50429d;
    height: 40px;
    width: 40px;
    border: 2px solid #50429d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.faq-item .faq-item-header .btn-faq .icon-down {
    font-size: 15px;
    color: #50429d;
    display: inline-block;
    margin-right: 20px
}

.faq-item .faq-item-header-title {
    text-align: right;
    font-weight: 100;
    font-size: 14px;
    color: #424242
}

.faq-item .faq-item-header:hover .faq-item-header-title {
    color: #50429d;
    font-weight: 700
}

.faq-item .faq-item-content {
    border-top: 2px solid #50429d
}

.faq-item .faq-item-content-text {
    padding: 15px;
    text-align: justify;
    font-size: 14px;
    line-height: 24px;
    color: #555
}

.faq-pic {
    display: flex;
    justify-content: center;
    align-items: center
}

.faq-pic img {
    width: 250px
}

@media only screen and (max-width:768px) {
    .faq-item .faq-item-header .btn-faq {
        padding: 10px 8px
    }

    .faq-item .faq-item-header-title {
        font-size: 12px
    }

    .faq-item .faq-item-content-text {
        font-size: 12px
    }

    .faq-item .faq-item-header .btn-faq .icon-faq {
        font-size: 16px;
        height: 35px;
        width: 35px
    }
}

.article__wrapper {
    padding: 10px 16px
}

.article__item {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: all .5s;
    min-height: 480px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .12)
}

.article__item:hover {
    transform: translatey(-10px)
}

.article__item a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10
}

.article__item__pic {
    height: 180px
}

.article__item__pic img {
    transition: all .5s;
    margin-bottom: 12px;
    height: 100%;
    width: 100%
}

.article__item__heading {
    padding: 20px 30px
}

.article__item__heading h3 {
    color: #373f47;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 0;
    text-align: center
}

.article__item__content {
    position: relative;
    padding: 12px
}

.article__item__content::after {
    content: "";
    position: absolute;
    width: 55px;
    border-top: 2px solid #50429d;
    top: 0;
    left: 50%;
    transform: translatex(-50%)
}

.article__item__content p {
    color: #373f47;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    font-weight: 100
}

.article__item__info {
    padding: 0 12px;
    display: flex;
    align-items: center
}

.article__item__info__item i {
    font-size: 15px;
    color: #373f47;
    vertical-align: middle;
    opacity: .9
}

.article__item__info__item span {
    color: #50429d;
    font-size: 11px;
    font-weight: 100
}

.article__item__readmore {
    padding: 12px;
    margin-top: 20px
}

.article__item__readmore span {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    background: #50429d;
    border-radius: 1em;
    padding: 6px 12px
}

.pagination li {
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #50429d;
    border-radius: 50% !important;
    height: 35px;
    width: 35px
}

.pagination li .page-link {
    border: none !important;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    transition: all .5s;
    line-height: 0 !important
}

.pagination li .page-link:hover {
    background-color: transparent;
    color: #fff;
    font-size: 16px
}

.pagination li .page-link:focus {
    box-shadow: none !important
}

.active-page {
    background-color: #373f47 !important
}

.contact-us .post-inner {
    width: 80%
}

.contact-us .post-inner .informations {
    margin-bottom: 30px
}

.contact-us .post-inner .informations .inner {
    text-align: center;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    transition: .3s all
}

.contact-us .post-inner .informations .inner .icon {
    width: 100%
}

.contact-us .post-inner .informations .inner .icon i {
    font-size: 18px;
    color: #50429d
}

.contact-us .post-inner .informations .inner .info {
    width: 100%;
    color: #50429d
}

.contact-us .post-inner .informations .inner:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .09)
}

.contact-us .post-inner .your-informations .your-information {
    margin-bottom: 24px
}

.contact-us .post-inner .your-informations .your-information label {
    color: #50429d;
    font-size: 16px;
    font-weight: 300
}

.contact-us .post-inner .your-informations .your-information .input-holder {
    border: 2px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px
}

.contact-us .post-inner .your-informations .your-information .input-holder i {
    color: #50429d;
    font-size: 16px
}

.contact-us .post-inner .your-informations .your-information .input-holder input,
.contact-us .post-inner .your-informations .your-information .input-holder textarea {
    outline: 0;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 8px
}

.contact-us .post-inner .button-holder {
    text-align: center
}

.contact-us .post-inner .button-holder button {
    background-color: #50429d;
    border: 5px;
    color: #fff;
    width: 100px
}

@media (max-width:768px) {
    .contact-us .post-inner {
        width: 100%
    }
}

.head-section {
    background-color: #50429d;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.head-section .title-blog h1 {
    color: #fff;
    font-size: 40px
}

.head-section .desc-blog {
    color: #fff;
    font-size: 20px
}

.blog-holder {
    margin-top: -50px
}

.blog-holder .blogs .blog .inner {
    position: relative;
    height: 300px;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
    background-color: #fff;
    border-radius: 5px;
    transition: all .4s ease;
    margin-bottom: 30px;
    height: 500px;
    overflow: hidden
}

.blog-holder .blogs .blog .inner.trend {
    display: flex;
    height: 300px
}

.blog-holder .blogs .blog .inner.trend .thumbnail {
    flex: 0 0 50%;
    height: 300px
}

.blog-holder .blogs .blog .inner .thumbnail {
    background-size: cover;
    background-position: center;
    background-color: #eaeaea;
    height: 250px
}

.blog-holder .blogs .blog .inner .blog-content {
    padding: 16px
}

.blog-holder .blogs .blog .inner .blog-content .blog-heading h2 {
    font-size: 22px;
    font-weight: 700
}

.blog-holder .blogs .blog .inner .blog-content .blog-desc p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px
}

.blog-holder .blogs .blog .inner .blog-content .read-time {
    padding: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: #afacac
}

.blog-holder .blogs .blog .inner .blog-content .read-time span {
    color: #373f47
}

.blog-holder .blogs .blog .inner .blog-content .read-time i {
    font-size: 16px;
    color: #373f47;
    margin-left: 4px;
    vertical-align: middle
}

.blog-holder .blogs .blog .inner:hover {
    box-shadow: 8px 28px 50px rgba(39, 44, 49, .07), 1px 6px 12px rgba(39, 44, 49, .04);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transform: translate3D(0, -1px, 0) scale(1.02);
    transform: translate3D(0, -1px, 0) scale(1.02)
}

@media (max-width:768px) {
    .head-section .title-blog h1 {
        font-size: 24px
    }

    .head-section .desc-blog {
        font-size: 14px
    }

    .blog-holder .blogs .blog .inner {
        height: 500px
    }

    .blog-holder .blogs .blog .inner.trend {
        flex-direction: column;
        height: 500px
    }

    .blog-holder .blogs .blog .inner .blog-content .blog-heading h2 {
        font-size: 18px
    }

    .blog-holder .blogs .blog .inner .blog-content .blog-desc {
        margin-bottom: 8px
    }

    .blog-holder .blogs .blog .inner .blog-content .blog-desc p {
        font-size: 14px
    }

    .blog-holder .blogs .blog .inner .blog-content .read-time {
        font-size: 12px;
        right: 0
    }
}

.fulllink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.live-prices__wrapper {
    width: 100%
}

.live-prices__wrapper .table-responsive {
    border-radius: 5px
}

.live-prices__wrapper .table-responsive .table thead tr {
    background-color: #50429d
}

.live-prices__wrapper .table-responsive .table thead tr th {
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    border-left: 1px solid #fff
}

.live-prices__wrapper .table-responsive .table tbody tr th {
    font-size: 16px;
    text-align: center
}

.live-prices__wrapper .table-responsive .table tbody tr td {
    font-size: 15px;
    text-align: center;
    font-weight: 600
}

.live-prices__wrapper .table-responsive .table tbody tr td .img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block
}

.live-prices__wrapper .table-responsive .table tbody tr td .name {
    margin-right: 4px
}

.live-prices__wrapper .table-responsive .table tbody tr td .name h2 {
    margin: 0;
    min-width: 85px
}

.live-prices__wrapper .table-responsive .table tbody tr td .name h2 a {
    color: #373f47;
    font-size: 16px
}

@media (max-width:992px) {
    .live-prices__wrapper {
        overflow: scroll
    }
}

.table td,
.table th {
    vertical-align: middle !important
}

.top-info {
    color: #16c784
}

.bottom-info {
    color: #ea3943
}

.legal__sec ol {
    padding: 0 16px
}

.legal__sec ol li {
    font-size: 15px;
    margin-bottom: 12px;
    line-height: 25px;
    text-align: justify;
    color: #373f47;
    list-style: decimal
}

.legal__sec ol li strong {
    font-size: 16px;
    color: #50429d
}

.single-blog .blog-header .blog-title {
    margin-bottom: 16px
}

.single-blog .blog-header .blog-title h1 {
    font-weight: 700
}

.single-blog .blog-header .time-release {
    margin-bottom: 16px
}

.single-blog .blog-desc {
    display: flex;
    margin: 30px 0;
    padding: 8px
}

.single-blog .blog-desc .need-time {
    margin-left: 16px
}

.single-blog .blog-desc .need-time span {
    font-size: 16px
}

.single-blog .blog-desc .need-time i {
    color: #666;
    font-size: 16px
}

.single-blog .blog-desc .author span {
    font-size: 16px
}

.single-blog .blog-desc .author i {
    color: #666;
    font-size: 16px
}

.single-blog .post-inner {
    margin-bottom: 30px !important
}

.single-blog .post-inner .post-content h4 {
    margin-bottom: 16px;
    color: #373f47;
    font-weight: 700
}

.single-blog .post-inner .post-content h5 {
    margin-bottom: 16px;
    color: #373f47;
    font-weight: 700
}

.single-blog .post-inner .post-content h6 {
    margin-bottom: 16px;
    color: #373f47;
    font-weight: 700
}

.single-blog .post-inner .post-content .image-holder {
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 400px;
    margin: 0 auto
}

@media (max-width:768px) {
    .single-blog .post-inner .post-content .image-holder {
        width: 100%;
        height: 200px
    }
}

.exchanges-main {
    background-color: #f1f2f3
}

.exchanges-main .content-aside {
    margin-bottom: 20px
}

.exchanges-main .content-aside__inner .box {
    width: 100%;
    border: 1px solid transparent;
    margin-bottom: 16px;
    position: relative;
    transition: all .5s
}

.exchanges-main .content-aside__inner .box a {
    position: absolute;
    z-index: 90;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.exchanges-main .content-aside__inner .box__img {
    min-height: 60px;
    line-height: 60px;
    text-align: center
}

.exchanges-main .content-aside__inner .box__img img {
    vertical-align: middle
}

.exchanges-main .content-aside__inner .box__star {
    display: flex;
    align-items: center;
    justify-content: center
}

.exchanges-main .content-aside__inner .box__name {
    color: #373f47;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-top: 16px
}

.exchanges-main .content-aside__inner .box:hover {
    transform: translatey(-6px)
}

.filter-aside {
    margin-bottom: 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 90px
}

.filter-aside .navbar-filter {
    margin-bottom: 20px;
    display: none
}

.filter-aside .navbar-filter__text {
    color: #373f47;
    font-size: 16px;
    font-weight: 300;
    vertical-align: middle
}

.filter-aside .navbar-filter i {
    color: #373f47;
    float: left;
    font-size: 18px
}

.filter-aside__box {
    margin-bottom: 20px
}

.filter-aside__box .title-filter {
    display: block;
    margin-bottom: 20px;
    color: #3b3b3b;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #edf2f5;
    padding-bottom: 10px
}

.filter-aside__box__item {
    display: flex;
    margin-bottom: 8px;
    position: relative
}

.filter-aside__box__item .count {
    width: 100%;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden
}

.filter-aside__box__item .count__input {
    width: 80%;
    outline: 0 !important;
    border: none;
    text-align: center;
    padding: 7px
}

.filter-aside__box__item .count__input::placeholder {
    color: #373f47;
    font-size: 13px;
    text-align: center
}

.filter-aside__box__item .count button {
    width: 20%;
    height: 100%;
    text-align: center;
    background-color: #50429d;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0 !important;
    border: none
}

.filter-aside__box__item .count button i {
    font-size: 14px;
    font-weight: 400;
    color: #fff
}

.filter-aside__box__item .name-item {
    display: inline-block;
    color: #373f47;
    font-size: 14px;
    margin-right: 12px
}

.filter-aside__box__item .label-filter {
    position: relative;
    width: 35px;
    height: 16px;
    margin: 0
}

.filter-aside__box__item .label-filter .filter {
    opacity: 0;
    width: 0;
    height: 0
}

.filter-aside__box__item .label-filter .filter:checked+.slider-filter {
    background-color: #50429d
}

.filter-aside__box__item .label-filter .filter:checked+.slider-filter::before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px)
}

.filter-aside__box__item .label-filter .slider-filter {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bdc3c7;
    border-radius: 34px;
    -webkit-transition: .2s cubic-bezier(.55, 0, .1, 1);
    transition: .2s cubic-bezier(.55, 0, .1, 1)
}

.filter-aside__box__item .label-filter .slider-filter::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 3px;
    background-color: #fff;
    border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: .2s cubic-bezier(.55, 0, .1, 1);
    transition: .2s cubic-bezier(.55, 0, .1, 1)
}

@media only screen and (max-width:768px) {
    .navbar-filter {
        display: block !important
    }

    .filter-aside__box {
        display: none
    }

    .d-block {
        display: block
    }
}

.filters-main {
    background-color: #f1f2f3
}

.filters-main__card {
    margin-bottom: 16px
}

.filters-main__card .header-right {
    display: flex;
    align-items: center;
    margin: 12px 0
}

.filters-main__card .header-right .images img {
    max-height: 60px
}

.filters-main__card .header-right .star {
    margin-right: 10px
}

.filters-main__card .header-right .star i {
    font-size: 16px
}

.filters-main__card .header-right .info-star {
    font-size: 12px;
    margin-right: 8px;
    color: #373f47
}

.filters-main__card .header-left {
    margin: 12px 0
}

.filters-main__card .header-left .price {
    font-size: 24px;
    font-weight: 600;
    text-align: center
}

.filters-main__card .b-header-right {
    display: flex;
    align-items: center;
    margin: 10px 0
}

.filters-main__card .b-header-right__item {
    border-right: 1px solid #eee;
    padding-right: 10px;
    margin-left: 24px
}

.filters-main__card .b-header-right__item .title {
    margin-bottom: 6px;
    color: #666;
    font-size: 13px
}

.filters-main__card .b-header-right__item .info {
    font-size: 12px;
    color: #373f47
}

.filters-main__card .b-header-right__item:first-child {
    border: none;
    padding-right: 0
}

.filters-main__card .b-header-left__inner {
    text-align: center
}

.filters-main__card .b-header-left__inner p {
    margin: 0;
    color: #666;
    font-size: 12px
}

.filters-main__card .body-right {
    margin: 12px 0
}

.filters-main__card .body-right .info-exchanges {
    text-align: justify;
    font-size: 13px;
    color: #373f47;
    line-height: 23px
}

.filters-main__card .body-left {
    margin: 12px 0
}

.filters-main__card .body-left .link-site {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #50429d;
    color: #fff;
    margin-top: 12px;
    font-size: 13px
}

.filters-main__card .footer-right i {
    color: #373f47;
    font-size: 14px
}

@media (max-width:768px) {
    .filters-main__card .header-right {
        flex-wrap: wrap
    }
}

.content-single {
    margin-top: -30px
}

.content-single .about-single {
    background: #fff;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px
}

.content-single .about-single .about-holder h3 {
    font-weight: 400;
    font-size: 24px;
    color: #373f47;
    margin-bottom: 20px
}

.content-single .about-single .about-holder p {
    color: #373f47;
    line-height: 28px
}

.content-single .about-single .features-holder {
    margin-top: 50px
}

.content-single .about-single .features-holder h3 {
    font-weight: 400;
    font-size: 24px;
    color: #373f47;
    margin-bottom: 20px
}

.content-single .about-single .features-holder .features {
    column-count: 3
}

.content-single .about-single .features-holder .features li {
    color: #373f47;
    margin-bottom: 8px
}

.content-single .about-single .features-holder .features li i {
    color: #6b59d4;
    margin-left: 10px
}

.content-single .about-single .tap-holder {
    margin-top: 50px
}

.content-single .about-single .tap-holder .nav {
    border-bottom: 1px solid #ccc
}

.content-single .about-single .tap-holder .nav .nav-item .nav-link {
    color: #373f47;
    border-radius: 0
}

.content-single .about-single .tap-holder .nav .nav-item .nav-link.active {
    border-bottom: 1px solid #6b59d4;
    background-color: initial
}

.content-single .about-single .tap-holder table tbody tr {
    border-bottom: 1px solid #ccc
}

.content-single .about-single .tap-holder table tbody tr:last-child {
    border-bottom: 0
}

.content-single .about-single .tap-holder table tbody tr td {
    padding: 8px
}

.content-single .about-single .tap-holder table tbody tr td i {
    vertical-align: middle
}

.content-single .about-single .about-left-column {
    padding-right: 60px
}

.content-single .about-single .about-left-column .broker-logo {
    margin: 50px 0
}

.content-single .about-single .about-left-column .broker-logo img {
    width: 100%
}

.content-single .about-single .about-left-column .broker-rating .rating {
    color: #373f47;
    margin: 30px 0
}

.content-single .about-single .about-left-column .broker-rating .rating p {
    font-size: 24px;
    line-height: normal
}

.content-single .about-single .about-left-column .broker-rating .rating p strong {
    font-size: 40px
}

.content-single .about-single .about-left-column .broker-rating .user-count-rate p {
    font-size: 14px;
    color: #373f47
}

.content-single .about-single .about-left-column .broker-rating .bars {
    margin-top: 50px
}

.content-single .about-single .about-left-column .broker-rating .bars .bar .title {
    margin-bottom: 8px
}

.content-single .about-single .about-left-column .broker-rating .bars .bar .rate-holder {
    display: flex;
    justify-content: space-between
}

.content-single .about-single .about-left-column .broker-rating .bars .bar .rate-holder .progress {
    width: 80%;
    margin-bottom: 10px;
    margin-top: 5px;
    box-shadow: none !important;
    height: 8px
}

.content-single .about-single .about-left-column .broker-rating .bars .bar .rate-holder .progress .progress-bar {
    background-color: #6b59d4
}

.content-single .about-single .about-left-column .broker-rating .bars .bar .rate-holder .label {
    width: 40px;
    height: 20px;
    background-color: #e9ecef;
    text-align: center;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center
}

.content-single .about-single .about-left-column .broker-rating .bars .bar .rate-holder .label span {
    color: #666;
    font-size: 12px
}

.reviews-section .item-holder .inner {
    width: 100%;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px
}

.reviews-section .item-holder .inner .items .item {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.reviews-section .item-holder .inner .items .item .exchange-image img {
    width: 100%;
    max-width: 150px
}

.reviews-section .rating {
    margin-top: 8px
}

.reviews-section .rating label {
    cursor: pointer;
    margin-left: 16px;
    cursor: pointer;
    width: 6px
}

.reviews-section .rating label:before {
    content: "\2605";
    font-size: 30px;
    color: #bdc3c7;
    line-height: 1
}

.reviews-section .rating input {
    display: none
}

.reviews-section .rating input:checked~label:before,
.reviews-section .rating:not(:checked)>label:hover:before,
.reviews-section .rating:not(:checked)>label:hover~label:before {
    color: #ffc400
}

@media (max-width:768px) {
    .about-single {
        margin: 0 auto
    }

    .about-single .features-holder .features {
        column-count: 1 !important
    }

    .about-single .about-left-column {
        padding-right: 0 !important
    }
}

.stars {
    display: flex
}

.stars i {
    font-size: 18px
}

.heading {
    margin-bottom: 30px
}

.heading h3 {
    font-weight: 400;
    font-size: 24px;
    color: #373f47
}

body {
    height: 100%
}

body .my-profile-section {
    height: 100%;
    background-image: linear-gradient(to bottom right, #6b59d4, #453987);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 0
}

body .my-profile-section .panel {
    background-color: #fff;
    width: 600px;
    height: auto;
    border-radius: 8px;
    position: relative;
    padding: 0 36px
}

body .my-profile-section .panel .profile-image {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-position: center;
    background-size: cover;
    margin-top: -75px;
    margin-bottom: 30px
}

body .my-profile-section .panel .user-id {
    text-align: center;
    font-size: 14px;
    color: #9a9a9a;
    margin-bottom: 30px
}

body .my-profile-section .panel .switcher {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px
}

body .my-profile-section .panel .switcher li {
    width: 33.3%;
    text-align: center;
    line-height: 3;
    transition: .3s all;
    border-radius: 4px 4px 0 0
}

body .my-profile-section .panel .switcher li:hover {
    background-color: #ccc
}

body .my-profile-section .panel .switcher li.active {
    border-bottom: 2px solid #50429d
}

body .my-profile-section .panel .switcher li a {
    color: #50429d;
    display: block
}

body .my-profile-section .panel .switcher li span {
    margin-left: 4px;
    font-size: 18px;
    font-weight: 700
}

@media only screen and (max-width:768px) {
    .my-profile-section {
        padding: 30px !important
    }

    .my-profile-section .profile-image {
        margin-top: 30px !important
    }

    .my-profile-section .switcher li {
        width: 100% !important
    }
}

.account-section .sidebar .sidebar-inner .sidebar-items .sidebar-item {
    line-height: 3;
    padding: 0 16px;
    transition: .3s all;
    border-radius: 8px;
    margin-bottom: 16px
}

.account-section .sidebar .sidebar-inner .sidebar-items .sidebar-item a {
    display: block;
    color: #50429d
}

.account-section .sidebar .sidebar-inner .sidebar-items .sidebar-item:hover {
    background-color: #ccc
}

.account-section .sidebar .sidebar-inner .sidebar-items .sidebar-item.active {
    background-color: #50429d
}

.account-section .sidebar .sidebar-inner .sidebar-items .sidebar-item.active a {
    color: #fff
}

.account-section .account-content-holder .account-content-inner {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px
}

.account-section .account-content-holder .account-content-inner .header {
    color: #333;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    line-height: 3;
    padding: 0 16px
}

.account-section .account-content-holder .account-content-inner .body {
    background-color: #fff;
    padding: 16px
}

.account-section .account-content-holder .account-content-inner .body .image-holder {
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 30px
}

.account-section .account-content-holder .account-content-inner .body .form-group {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.account-section .account-content-holder .account-content-inner .body .form-group .file {
    display: inline-block;
    position: absolute;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    padding: 8px 16px
}

.account-section .account-content-holder .account-content-inner .body .form-group .file-holder {
    color: #fff;
    background-color: #50429d;
    font-size: 16px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    padding: 8px 16px;
    border-radius: 8px;
    transition: .3s all;
    display: inline-block
}

.account-section .account-content-holder .account-content-inner .body .form-group .file-holder:hover {
    opacity: .8
}

.account-section .account-content-holder .account-content-inner .body .form-group input {
    height: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    outline: 0;
    border: 1px solid #ccc;
    width: 50%
}

.account-section .account-content-holder .account-content-inner .body .form-group label {
    width: 20%;
    text-align: center;
    margin-bottom: 0
}

.account-section .account-content-holder .account-content-inner .body .form-group:last-child {
    margin-bottom: 0
}

.btn-primery {
    color: #fff;
    background-color: #ff6067;
    border-radius: 8px;
    border: 1px solid #ff6067
}

.btn-primery:hover {
    color: #fff;
    background-color: #ff2d36
}

.btn-holder {
    width: 70%;
    justify-content: flex-end !important;
    margin: auto
}

@media only screen and (max-width:768px) {
    .form-group {
        flex-direction: column
    }

    .form-group label {
        width: initial !important;
        margin-bottom: 8px !important
    }

    .form-group input {
        width: 100% !important
    }
}

.reviews .review {
    width: 100%;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    margin-bottom: 30px
}

.reviews .review .avatar {
    margin-left: 16px;
    flex: 0 0 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden
}

.reviews .review .avatar i {
    color: #666;
    font-size: 24px
}

.reviews .review .avatar img {
    width: 100%
}

.reviews .review .review-body .review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px
}

.reviews .review .review-body .review-header .name span {
    color: #6b59d4;
    font-weight: 700
}

.reviews .review .review-body .review-text p {
    color: #373f47;
    font-size: 16px
}

.reviews .review .review-body .review-footer {
    display: flex;
    justify-content: space-between
}

.reviews .review .review-body .review-footer .time {
    color: #ccc;
    font-size: 14px
}

.reviews .review .review-body .review-footer .replay-review a {
    color: #50429d
}

.reviews .review.response {
    background-color: rgba(0, 0, 0, .05);
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .01)
}

.rate-holder .rate-inner {
    width: 100%;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px
}

.rate-holder .rate-inner .form-holder textarea {
    width: 100%;
    padding: 8px 12px;
    background-color: #fff;
    color: #373f47;
    font-size: 14px;
    background-image: none;
    border: 1px solid #999;
    border-radius: 4px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 16px
}

.rate-holder .rate-inner .form-holder textarea:focus {
    border-color: #6b59d4;
    outline: 0
}

.rate-holder .rate-inner .form-holder .btns-holder {
    display: flex;
    justify-content: space-between
}

.replay {
    width: 100%;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px
}

.replay span {
    display: block;
    margin-bottom: 16px
}

.replay form {
    width: 100%
}

.replay .your-message textarea {
    width: 100%;
    padding: 8px 12px;
    background-color: #fff;
    color: #373f47;
    font-size: 14px;
    background-image: none;
    border: 1px solid #999;
    border-radius: 4px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.replay .your-message textarea:focus {
    border-color: #6b59d4;
    outline: 0
}

.replay .send-message {
    text-align: left
}

.search-holder .search-item .switch-toggle {
    width: 100%;
    display: flex;
    background-color: #ada5da;
    border-radius: 5px;
    height: 50px
}

.search-holder .search-item .switch-toggle a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    transition: all .3s
}

.search-holder .search-item .switch-toggle a.active {
    background-color: #fff;
    color: #373f47
}

.search-holder .search-item .dropholder {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    color: #373f47;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    position: relative
}

.search-holder .search-item p {
    line-height: 60px;
    font-size: 16px;
    margin: 0;
    width: 100%
}

.search-holder .search-item .dropdown,
.search-holder .search-item .dropholder {
    background-color: #fff
}

.search-holder .search-item .dropdown {
    float: left;
    width: 208px;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    position: relative;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center
}

.search-holder .search-item .dropdown:after {
    content: "▾";
    font-size: 24px;
    position: absolute;
    left: 18px;
    display: block;
    top: 12px
}

.search-holder .search-item .dropdown.active+.dropdownMenu {
    display: block
}

.search-holder .search-item .dropdown span {
    color: #373f47
}

.search-holder .search-item .dropdown p {
    text-align: center
}

.search-holder .search-item .dropdown i {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%)
}

.search-holder .search-item .dropdownMenu {
    padding: 0;
    position: absolute;
    left: 0;
    top: 60px;
    right: 0;
    margin: 0;
    cursor: pointer;
    display: none;
    background-color: #fff;
    border-radius: 5px;
    z-index: 999;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3)
}

.search-holder .search-item .dropdownMenu li {
    padding: 10px 10px;
    color: #e8f8ff;
    list-style: none;
    position: relative;
    text-align: center
}

.search-holder .search-item .dropdownMenu li i {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%)
}

.search-holder .search-item .dropdownMenu li span {
    color: #373f47
}

.search-holder .search-item .dropdownMenu li:hover {
    background-color: #50429d
}

.search-holder .search-item .dropdownMenu li:hover span {
    color: #fff
}

.search-holder .search-item .dropdownMenu li:last-child {
    border: none
}

.search-holder .search-item .btn-primary {
    height: 50px;
    background-color: #ff6067;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none
}

.search-holder .search-item .btn-primary i {
    margin-right: 4px
}

.search-holder .search-item .btn-primary:hover {
    background-color: #ff2d35
}

.footer {
    background-color: #373f47;
    color: #999;
    padding: 30px 0 0 0;
    position: relative
}

.footer__box__logo {
    display: inline-block
}

.footer__box__logo img {
    width: 220px
}

.footer__box__title {
    font-size: 17px;
    color: #fff;
    line-height: 60px
}

.footer__box .footer__box__info {
    margin-top: 16px
}

.footer__box .footer__box__info__text {
    text-align: justify;
    font-size: 14px;
    line-height: 23px;
    width: 85%
}

.footer__box .footer__box__info .social {
    display: flex;
    align-items: center
}

.footer__box .footer__box__info .social li:first-child {
    margin-right: 0
}

.footer__box .footer__box__info .social li {
    margin: 8px
}

.footer__box .footer__box__info .social li a {
    display: inline-block
}

.footer__box .footer__box__info .social li a i {
    color: #fff;
    font-size: 18px
}

.footer__box .footer__box__links {
    margin-top: 16px
}

.footer__box .footer__box__links a {
    display: block;
    margin-bottom: 8px;
    color: #999;
    font-size: 14px
}

.footer__box .footer__box__links a:hover {
    color: #fff
}

.footer__box .footer__box__newsletter {
    margin-top: 16px
}

.footer__box .footer__box__newsletter__form {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: space-between
}

.footer__box .footer__box__newsletter__form input {
    border: none;
    background-color: transparent;
    outline: 0 !important;
    text-align: center;
    height: 100%;
    width: 70%
}

.footer__box .footer__box__newsletter__form input::placeholder {
    font-size: 12px;
    text-align: center;
    color: #373f47
}

.footer__box .footer__box__newsletter__form button {
    outline: 0 !important;
    border: none;
    padding: 0 12px;
    height: 100%;
    width: 30%;
    font-size: 13px;
    height: 100%;
    border-radius: 4px 0 0 4px;
    background-color: #50429d;
    color: #fff;
    border: 1px solid #fff
}

.footer__box .footer__box__newsletter__text {
    margin-top: 16px;
    font-size: 14px;
    text-align: justify;
    line-height: 23px
}

.footer .bottom-footer__left {
    margin: 30px 0 12px 0;
    text-align: left
}

.footer .bottom-footer__left a {
    color: #999;
    font-size: 13px;
    border-left: 1px solid #fff;
    padding: 0 0 0 8px;
    transition: all .5s
}

.footer .bottom-footer__left a:last-child {
    border: none
}

.footer .bottom-footer__left a:hover {
    color: #fff
}

.footer .bottom-footer__right {
    margin: 30px 0 12px 0
}

.footer .bottom-footer__right p {
    font-size: 13px
}